[package]
name = "verifiable_confidential_ledger"
version = "1.1.0"
authors = [ "WeDPR <wedpr@webank.com>" ]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
colored = "1.8"
curve25519-dalek = { version = "1", features = [ "serde" ] }
wedpr_crypto = { path = "../../crypto/" }
wedpr_macros = { path = "../../common/macros/" }
wedpr_protos = { path = "../../protos/" }
wedpr_utils = { path = "../../common/utils" }

[dev-dependencies]
criterion = "0.2"

[[bench]]
name = "vcl"
harness = false
